body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.input-panel {
	margin: 2rem;

	&__controls {
		/* display: flex;
		align-items: center; */

		&--cmd {
			
		}

		&--comment {
			
		}
	}

	&__label {
		/* margin: 0 1em;
		min-width: 15ch; */
	}

	&__text {
		/* width: auto;
		flex: 1; */
	}

	&__textarea {
		resize: vertical;
	}

	&__btn {
		
	}
}

.view {
	/* padding: 1em; */
}

.output-panel {
	background-color: #f5eeee;
	padding: 0;

	&__item {
		margin-bottom: 0;
		border-bottom: 2px solid #ddd;
	}

	&__history {
		padding: 0;
		font-family: monospace;
		white-space: pre;
		margin-bottom: 0;
		border-radius: 0;
		border-top: 0;
		border-bottom: 0;
		border-right: 0;
	}

	&__print {
		overflow: auto;
	}

	&__comment {
		padding: 10px 20px;
	}
}
